.slider {
	@apply h-[450px] m-auto relative w-[100%] grid place-items-center overflow-hidden;
}
.slider-track {
	@apply flex;
	width: calc(250px * 18);
	animation: scroll 40s linear infinite;
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 5));
	}
}
.slide {
	@apply h-[380px] w-[290px]  items-center ;
}
